@import url("./fonts/Figtree/style.css");
@import url("./fonts/Scandia/style.css");
:root {
  --left-nav-width: 20vw;
}
* {
  font-family: "Figtree", "Scandia", -apple-system, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navigator-open-div {
  display: contents;
}
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
.square-spin > div {
  width: 50px;
  height: 50px;
  background: rgb(2 2 2 / 77%);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9)
    infinite;
  overflow: hidden;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.loader {
  height: 100vh;
  width: 100vw;
  background: #00000012;
}
.MuiAlert-message {
  width: 100% !important;
}
.modal {
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-content {
  background: rgba(255, 255, 255, 0.708);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.8px);
  -webkit-backdrop-filter: blur(17.8px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  min-width: 50vw;
}

.close {
  font-size: xx-large;
  left: 96%;
  position: absolute;
  cursor: pointer;
}

.modal-content-divs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

input {
  width: 50%;
  border: 1px solid #b1b1b1a3;
  border-radius: 5px;
  padding: 7px;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  button {
    width: 45%;
    background: #5d5d5d;
    border: 1px solid #c2c2c2;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
}
.modal-button-container button:hover {
  background: #aeaeae;
  color: black;
}
